:root{
    --texto-claro: #F2F2F2;
    --texto-escuro: #001627;
    --titulo-claro: #004a86;
    --titulo-escuro: #fcfcfc;
    --primary-bg-color: #012642;
    --secondary-bg-color: #adadad;
    --third-bg-color: #ffffff;
}

