:root{
    --texto-claro: #F2F2F2;
    --texto-escuro: #001627;
    --titulo-claro: #004a86;
    --titulo-escuro: #fcfcfc;
    --primary-bg-color: #001627;
    --secondary-bg-color: #adadad;
    --third-bg-color: #ffffff;
    --hover-color: rgb(231, 163, 37);
}

/* CSS Geral */

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--texto-claro);
    background: var(--third-bg-color);
}

a{
    color: var(--texto-claro);
    text-decoration: none;
}

a:hover{
    color: var(--hover-color);
    text-decoration: none; /* retirar underline */
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Times New Roman', Times, serif;
}

/* cabeçalho */

header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 0; /*voltar amanhã */
    padding: 0 15px;
    background: var(--primary-bg-color)
}